@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

body {
    background-color: #f4e4bc; 
    color: #5d3a1a; 
    font-family: 'Marcellus', serif;
    margin: 0; padding: 0;
    line-height: 1.6;
}

header {
    background-color: #8b4513;
    color: #f4e4bc;
    text-align: center;
    padding: 30px 15px;
    border-bottom: 8px solid #5d3a1a;
}

.logo-cemi {
    max-width: 180px;
    margin-bottom: 10px;
    filter: drop-shadow(2px 4px 6px black);
}

nav {
    display: flex;
    overflow-x: auto;
    background: #d4a373;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a {
    flex: 0 0 auto;
    padding: 15px 20px;
    color: #5d3a1a;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
}

.container { padding: 20px; max-width: 600px; margin: auto; }

.card {
    background: #faedcd;
    border: 3px solid #d4a373;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 0px #d4a373;
    position: relative;
}

h2 { color: #bc6c25; border-bottom: 2px solid #8b4513; padding-bottom: 5px; margin-top: 0; }

.btn-mision {
    background-color: #8b4513;
    color: #f4e4bc;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 15px;
    font-size: 1.1em;
    cursor: pointer;
}

.ofrenda-box {
    background: #e9c46a;
    padding: 10px;
    border-radius: 8px;
    border-left: 5px solid #e76f51;
    font-size: 0.9em;
    margin-top: 10px;
    color: #5d3a1a;
}

.glosario-item { margin-bottom: 15px; }
.glosario-word { font-weight: bold; color: #8b4513; text-transform: uppercase;}

footer { text-align: center; padding: 30px; background: #5d3a1a; color: #f4e4bc; font-size: 0.7em; margin-top: 20px; }